<div class="card m-3" style="width: 24rem;">
  <img class="card-img-top" src="{{car.imageUrl}}" alt="a picture of a car">
  <div class="card-body">
    <div class="mt-1 d-flex justify-content-between align-items-center">
      <div class="small-ratings">
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="ratings-count">(125)</i>
      </div>
    </div>

    <h1 class="card-title">{{car.name}}</h1>

    <div class="mt-1 d-flex justify-content-between align-items-center">
      <div class="mt-1 d-flex justify-content-start align-items-center">
        <img src="assets/images/people.png">
        <p class="m-2">{{car.passengerCount}} {{car.passengerCount === '1' ? 'person' : 'people'}}</p>
      </div>
      <div class="mt-1 d-flex justify-content-start align-items-center">
        <img class="wheel-icon" src="assets/images/wheel.png">
        <p class="m-1 ml-1">{{car.transmissionType}}</p>
      </div>
    </div>
    <div class="mt-1 d-flex justify-content-between align-items-center">
      <div class="mt-1 d-flex justify-content-start align-items-center">
        <img src="assets/images/gauge.png">
        <p class="m-1">7.5km/litre</p>
      </div>
      <div class="mt-1 d-flex justify-content-start align-items-center">
        <img class="gas-icon mr-1" src="assets/images/gas.png">
        <p class="m-1">{{car.fuelType}}</p>
      </div>
    </div>

    <div class="mt-1 d-flex justify-content-between align-items-center">
      <div class="mt-1 d-flex justify-content-start align-items-center"><h1 class="price">${{car.price}}</h1><span>/per day</span></div>
      <a *ngIf="!isAdminUser" class="btn btn-primary" (click)="rentNow()">Rent now</a>
      <a *ngIf="isAdminUser" class="btn btn-danger" (click)="deleteCar(car)">delete</a>
    </div>
  </div>
</div>
